nav  {
      margin-top:-7px;
      height: 80px;
       background-color: blue;
    font-family:"Viner Hand ITC";
}

a{
  color: white;
margin:auto;
font-size: 30px;
}
    
div{
     background-color: #0000ff;
     display: block;
     margin:auto;
     height: 000px;
     border: solid goldm 5px;
     color:white;
     
}

#main{
     margin-top: 15px;    
      width: 50%; 
      background-image: url("party.jpg");
     
     }
 h1{
    font-size:80px;
    text-align:center;
    font-family:Rosewood Std;
    color:blue;


    }


