aside{ 
       color:#464646;
       font-family:Arial,Helvetica, sans-serif;
       float:right;
        width:400px;
       margin-left: 100px;
     }
nav  {
      margin-top:-7px;
      height: 70px;
       background-color: blue;
    font-family:"Viner Hand ITC";
}

a{
  color:#e3ff00;
margin:auto 3px;
font-size: 30px;

}
    
div{
     background-color: #0000ff;
     display: block;
     margin:auto;
     height: 000px;
     border:groove black 1px;
    color:white;
 
     
}

#main{
     margin-top: 15px;    
      width: 50%; 
     
     }
 h1{
    color:blue;
    font-size:50px;
    }


